# Dossiers
__pycache__/
env/
.vscode/

# Fichiers Python
*.pyc
*.pyo

# Tests
.pytest_cache/

# Données HAMMER volumineuses / personnelles (fournies par l'utilisateur)
Flex Tables.xlsx
pump curve.PNG
pump curve.pdf
Pump detailed report.rtf

# Fichiers de configuration locaux
GitHub données.PNG
MK_hammerpy_PRO_V01.spec
.gitignore
MK_hammerpy_PRO_V1.spec
MK_MK_hammerpy_PRO_V1.spec
dist/MK_hammerpy_PRO_V01.exe
Pump 1 Definition Detailed Report.rtf
Pump Definition Detailed multiple Report.rtf
Pump Definition Detailed Report_  Pump Definition.docx
Pump Definition Detailed Report.rtf
R&gime permanent.xlsx
rapport.docx
.gitignore
build_error.log
.gitignore
build_output.log
